# {{ ansible_managed }}

Listen {{ apache_host|default ('*') }}:{{ apache_port }}

<IfModule mod_ssl.c>
    Listen {{ apache_host|default ('*') }}:{{apache_ssl_port}}
</IfModule>

<IfModule mod_gnutls.c>
    Listen {{ apache_host|default ('*') }}:{{apache_ssl_port}}
</IfModule>
